<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>a7</BK1>
  <BK2>27</BK2>
  <Col3>07</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>21</data>
      <data>10</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>80</data>
      <data>88</data>
      <data>168</data>
      <data>168</data>
      <data>168</data>
      <data>136</data>
      <data>134</data>
      <data>134</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>84</data>
      <data>160</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>128</data>
      <data>192</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>90</data>
      <data>42</data>
      <data>10</data>
      <data>26</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>104</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>85</data>
      <data>170</data>
      <data>170</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>160</data>
      <data>160</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>104</data>
      <data>104</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>85</data>
      <data>26</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>104</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>26</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>25</data>
      <data>106</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>144</data>
      <data>36</data>
      <data>8</data>
      <data>9</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>88</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>85</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>6</data>
      <data>8</data>
      <data>24</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>18</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>19</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>152</data>
      <data>168</data>
      <data>168</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>20</charcode>
    <chardata>
      <data>5</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>22</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>85</data>
      <data>169</data>
      <data>9</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>23</charcode>
    <chardata>
      <data>21</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>24</charcode>
    <chardata>
      <data>9</data>
      <data>2</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>144</data>
      <data>144</data>
      <data>164</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>81</data>
      <data>166</data>
      <data>102</data>
      <data>104</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>84</data>
      <data>168</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>86</data>
      <data>168</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>22</data>
      <data>90</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>36</data>
      <data>41</data>
      <data>9</data>
      <data>10</data>
      <data>2</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>96</data>
      <data>96</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>85</data>
      <data>170</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>69</data>
      <data>145</data>
      <data>33</data>
      <data>9</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>32</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>85</data>
      <data>105</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>104</data>
      <data>104</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>101</data>
      <data>42</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>97</data>
      <data>65</data>
      <data>129</data>
      <data>5</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>84</data>
      <data>169</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>134</data>
      <data>136</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>21</data>
      <data>6</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>86</data>
      <data>170</data>
      <data>10</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>5</data>
      <data>6</data>
      <data>6</data>
      <data>134</data>
      <data>134</data>
      <data>134</data>
      <data>153</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>5</data>
      <data>26</data>
      <data>42</data>
      <data>96</data>
      <data>128</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>44</charcode>
    <chardata>
      <data>85</data>
      <data>170</data>
      <data>170</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>45</charcode>
    <chardata>
      <data>81</data>
      <data>164</data>
      <data>168</data>
      <data>9</data>
      <data>2</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>85</data>
      <data>106</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>47</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>48</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>96</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>49</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>104</data>
      <data>104</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>50</charcode>
    <chardata>
      <data>85</data>
      <data>41</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>51</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>144</data>
      <data>144</data>
    </chardata>
  </character>
  <character>
    <charcode>52</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>53</charcode>
    <chardata>
      <data>85</data>
      <data>104</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
    </chardata>
  </character>
  <character>
    <charcode>54</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>55</charcode>
    <chardata>
      <data>144</data>
      <data>144</data>
      <data>144</data>
      <data>164</data>
      <data>36</data>
      <data>36</data>
      <data>36</data>
      <data>36</data>
    </chardata>
  </character>
  <character>
    <charcode>56</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>26</data>
      <data>26</data>
      <data>24</data>
      <data>24</data>
      <data>24</data>
    </chardata>
  </character>
  <character>
    <charcode>57</charcode>
    <chardata>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
    </chardata>
  </character>
  <character>
    <charcode>58</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>26</data>
      <data>26</data>
      <data>106</data>
      <data>106</data>
    </chardata>
  </character>
  <character>
    <charcode>59</charcode>
    <chardata>
      <data>41</data>
      <data>9</data>
      <data>10</data>
      <data>10</data>
      <data>10</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>60</charcode>
    <chardata>
      <data>104</data>
      <data>96</data>
      <data>160</data>
      <data>160</data>
      <data>160</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>61</charcode>
    <chardata>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>96</data>
      <data>104</data>
      <data>104</data>
      <data>106</data>
      <data>106</data>
    </chardata>
  </character>
  <character>
    <charcode>62</charcode>
    <chardata>
      <data>85</data>
      <data>26</data>
      <data>26</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
    </chardata>
  </character>
  <character>
    <charcode>63</charcode>
    <chardata>
      <data>85</data>
      <data>170</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>84</data>
      <data>168</data>
      <data>40</data>
      <data>8</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>85</data>
      <data>170</data>
      <data>170</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>6</data>
      <data>26</data>
      <data>26</data>
      <data>106</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>85</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>6</data>
      <data>24</data>
      <data>104</data>
      <data>160</data>
    </chardata>
  </character>
</charset>
